@use 'src/bridge.scss' as *;

body {
	min-height: 100vh;
	margin: 0;
 
  @include dark() {
    color: $gray-200;
  	background: linear-gradient(
  		180deg,
  		$gray-800 0%,
  		$gray-900 10.45%,
  		$gray-900 41.35%
  	);
  }

  &::before {
  	content: '';
  	width: 80vw;
  	height: 100vh;
  	position: absolute;
  	top: 0;
  	left: 10vw;
  	z-index: -1;
  	background: radial-gradient(
  		50% 50% at 50% 50%,
  		$white 0%,
  		rgba(255, 255, 255, 0) 100%
  	);
  	opacity: 0.05;
  }
}

pre {
  font-size: em(14, 14);
  line-height: calc(20 / 12);
  margin-top: em(20, 12);
  margin-bottom: em(20, 12);
  border-radius: rem(4);
  padding-top: em(8, 12);
  padding-right: em(12, 12);
  padding-bottom: em(8, 12);
  padding-left: em(12, 12);
	font-size: 16px;
	@include p(2);
	overflow-x: auto;

  border-radius: 0.75rem;
  padding: 1.25rem;
  background-color: $slate-800;

  code {
    background-color: transparent;

    &:before {
      content: '';
    }
    &:after {
      content: '';
    }
  }
}

.window-content {
  > pre {
    border-radius: 0rem;
    padding: 0;
    margin: 0;
    @include text-xs;
  }
}

