@use 'src/bridge.scss' as *;

body {
	min-height: 100vh;
	margin: 0;
    
  color: $gray-900;
  background: linear-gradient(
  		180deg,
  		$slate-400 0%,
  		$slate-300 10.45%,
  		$slate-300 41.35%
  	);
 
  @include dark {
    color: $gray-200;
  	background: linear-gradient(
  		180deg,
  		$slate-700 0%,
  		$slate-900 10.45%,
  		$slate-900 41.35%
  	);
  }

  &::before {
  	content: '';
  	width: 80vw;
  	height: 100vh;
  	position: absolute;
  	top: 0;
  	left: 10vw;
  	z-index: -1;
  	background: radial-gradient(
  		50% 50% at 50% 50%,
  		$white 0%,
  		rgba(255, 255, 255, 0) 100%
  	);
  	opacity: 0.05;
  }
}

.feature {
	&--tag {
		@include mt(5);
		text-transform: uppercase;
		font-weight: 700;
		color: $orange-700;
    @include dark {
	  	color: $orange-100;
    }
	}

	&--top {
		width: 100%;
		display: flex;
		padding: spacing(6);
		background-color: $slate-300;
    @include dark {
		  background-color: $slate-200;
    }
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='white' fill-opacity='0.25'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @include dark {
		  background-color: $slate-700;
  		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23595959' fill-opacity='0.25'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    @include tablet {
		  padding: spacing(10);
    }
	}

	&--top-container {
		width: 80rem;
    @include mx-auto
	}

	&--top-container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	}

	&--item {
		width: 100%;
    background: linear-gradient(
  		180deg,
  		$slate-400 0%,
  		$slate-300 10.45%,
  		$slate-300 41.35%
  	);
    @include dark {
  		background: linear-gradient(180deg, $slate-700 0%, $slate-900 35.45%, $slate-900 51.35%);
    }
		display: flex;
		justify-content: center;
		align-items: start;
		@include space-x(3);
    @include tablet {
		  height: spacing(100);
    }

    &--small {
      height: spacing(20);
    }
	}

	&--item-container {
		@include space-x(3);
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
    position: relative;

    @include tablet {
		  width: 80rem;
      height: spacing(100);
    }
	}
	
  &--item-center {
		@include px(4);
    position: relative;
    z-index: 10;
		grid-column-start: 1;
		grid-column: span 12;

    @include tablet {
      min-width: spacing(100);
      @include mx-auto;
    }
	}

	&--item-left {
		@include px(4);
    position: relative;
    z-index: 10;
		grid-column-start: 1;
		grid-column: span 12;
			
    @include tablet {
			grid-column-start: 1;
			grid-column: span 6;

      height: spacing(64);
		}
	}
	
  &--item-right {
		@include px(4);
    z-index: 20;
    position: relative;
		grid-column-start: 1;
		grid-column: span 12;
			
    @include tablet {
		  @include px(16);
			grid-column-start: 7;
			grid-column: span 6;
      right: spacing(24);
		}
	}
}


pre {
  font-size: em(14, 14);
  line-height: calc(20 / 12);
  margin-top: em(20, 12);
  margin-bottom: em(20, 12);
  border-radius: rem(4);
  padding-top: em(8, 12);
  padding-right: em(12, 12);
  padding-bottom: em(8, 12);
  padding-left: em(12, 12);
	@include p(2);
	overflow-x: auto;

  border-radius: 0.75rem;
  @include p(3);
  background-color: $slate-700;

  code {
    background-color: transparent;

    &:before {
      content: '';
    }
    &:after {
      content: '';
    }
  }
}

.window-content {
  > pre {
    border-radius: 0rem;
    padding: 0;
    margin: 0;
    @include text-base;
  }
}


.window-tabs {
	display: flex;
	align-items: center;
	@include space-x(3);
	@include px(3);
	@include py(1);
	font-family: $mono;

	> :not(:last-child) {
		@include pr(3);
		border-right: 1px solid $gray-100;
	}

	> [data-active='true'] {
		font-weight: 700;
	}
}
