@import 'bridgecss/bridge.scss';

@mixin glass {
  background: linear-gradient(123deg, rgba(255, 255, 255, 0.2) 12.75%, rgba(255, 255, 255, 0.1) 68.03%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: relative;
}

@mixin my($space) {
  margin-top: calc($space * 1rem / 4);
  margin-bottom: calc($space * 1rem / 4); 
}
@mixin mx($space) {
  margin-left: calc($space * 1rem / 4);
  margin-right: calc($space * 1rem / 4); 
}
@mixin mxy($spacex, $spacey) {
  margin-top: calc($spacey * 1rem / 4);
  margin-bottom: calc($spacey * 1rem / 4); 
  margin-left: calc($spacex * 1rem / 4);
  margin-right: calc($spacex * 1rem / 4); 
}
@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@mixin three-d($color) {
	background-color: $color;
	box-shadow: 0px 4px 4px bg-opacity($black, 0.25),
		inset -4px -4px 10px bg-opacity($black, 0.25), inset 0px 4px 4px bg-opacity($color, 0.25);
}
