@import 'bridgecss/bridge.scss';

@mixin circle($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  content: '';
  height: spacing(25);
  width: spacing(25);
  border-radius: 9999px;
  background: $slate-600;
  z-index: -10;

  @content;
}


@mixin inset-0 {
	top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

