@use 'src/bridge.scss' as *;
@import '~@fontsource/fira-mono/index.css';

$mono: 'Fira Mono';

code {
	font-size: em(14, 16);
	color: $white;
	font-family: $mono;

	font-weight: 600;

	&:before {
		content: '`';
	}
	&:after {
		content: '`';
	}
}

pre {
  font-size: em(14, 14);
  line-height: calc(20 / 12);
  margin-top: em(20, 12);
  margin-bottom: em(20, 12);
  border-radius: rem(4);
  padding-top: em(8, 12);
  padding-right: em(12, 12);
  padding-bottom: em(8, 12);
  padding-left: em(12, 12);
	font-size: 16px;
	@include p(2);
	overflow-x: auto;

  border-radius: 0.75rem;
  padding: 1.25rem;
  background-color: $slate-700;

  code {
    background-color: transparent;

    &:before {
      content: '';
    }
    &:after {
      content: '';
    }
  }
}


#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	color: $gray-600;
  @include dark() {
    color: $gray-400;
  }

	line-height: 1.5;
}


article {
  pre {
    border: 1px solid $slate-600;
    font-family: $mono !important;
  }
  code {
    font-family: $mono !important;
  }
}
