name: CI
on: [push, pull_request]
jobs:
  release:
    name: Release
    # https://github.community/t/trigger-job-on-tag-push-only/18076
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install deps
        run: |
          npm i -g npm@latest
          npm -v
          npm 

      - name: Multi-semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_USER: 'wbunting'
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: '@wbunting-bot'
          GIT_COMMITTER_NAME: '@wbunting-bot'
        run: npm run release
